[submodule "k3s_cluster"]
	path = k3s_cluster
	url = https://github.com/Lucroz94/terraform_work.git
[submodule "cloudinit_proxmox_template_vm"]
	path = cloudinit_proxmox_template_vm
	url = https://github.com/Lucroz94/bash_work.git
